:where(.wp-block-button__link) {
  border-radius: 9999px;
  box-shadow: none;
  padding: calc(.667em + 2px) calc(1.333em + 2px);
  text-decoration: none
}

:root :where(.wp-block-button .wp-block-button__link.is-style-outline),
:root :where(.wp-block-button.is-style-outline>.wp-block-button__link) {
  border: 2px solid;
  padding: .667em 1.333em
}
:root :where(.wp-block-button .wp-block-button__link.is-style-outline:not(.has-text-color)),
:root :where(.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-text-color)) { color: currentColor }
:root :where(.wp-block-button .wp-block-button__link.is-style-outline:not(.has-background)),
:root :where(.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-background)) {
  background-color: initial;
  background-image: none
}

:where(.wp-block-calendar table:not(.has-background) th) { background: #ddd }

.wp-block-columns {
  align-items: normal !important;
  box-sizing: border-box;
  flex-wrap: wrap !important
}

@media (min-width:782px) {
  .wp-block-columns { flex-wrap: nowrap !important }
}

@media (max-width:781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column { flex-basis: 100% !important }
}

@media (min-width:782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
    flex-basis: 0;
    flex-grow: 1
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column[style*=flex-basis] { flex-grow: 0 }
}

:where(.wp-block-columns) { margin-bottom: 1.75em }
:where(.wp-block-columns.has-background) { padding: 1.25em 2.375em }

.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word
}

:where(.wp-block-post-comments input[type=submit]) { border: none }

@supports (-webkit-touch-callout:inherit) {
  .wp-block-cover-image.has-parallax,
  .wp-block-cover.has-parallax,
  .wp-block-cover__image-background.has-parallax,
  video.wp-block-cover__video-background.has-parallax { background-attachment: scroll }
}

:where(.wp-block-cover-image:not(.has-text-color)),
:where(.wp-block-cover:not(.has-text-color)) { color: #fff }
:where(.wp-block-cover-image.is-light:not(.has-text-color)),
:where(.wp-block-cover.is-light:not(.has-text-color)) { color: #000 }

:root :where(.wp-block-cover h1:not(.has-text-color)),
:root :where(.wp-block-cover h2:not(.has-text-color)),
:root :where(.wp-block-cover h3:not(.has-text-color)),
:root :where(.wp-block-cover h4:not(.has-text-color)),
:root :where(.wp-block-cover h5:not(.has-text-color)),
:root :where(.wp-block-cover h6:not(.has-text-color)),
:root :where(.wp-block-cover p:not(.has-text-color)) { color: inherit }

:where(.wp-block-file) { margin-bottom: 1.5em }

:where(.wp-block-file__button) {
  border-radius: 2em;
  display: inline-block;
  padding: .5em 1em
}

:where(.wp-block-file__button):is(a):active,
:where(.wp-block-file__button):is(a):focus,
:where(.wp-block-file__button):is(a):hover,
:where(.wp-block-file__button):is(a):visited {
  box-shadow: none;
  color: #fff;
  opacity: .85;
  text-decoration: none
}

:where(.wp-block-group.wp-block-group-is-layout-constrained) { position: relative }

.wp-block-image img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
  vertical-align: bottom
}

.wp-block-image :where(figcaption) {
  margin-bottom: 1em;
  margin-top: .5em
}

:root :where(.wp-block-image.is-style-rounded img, .wp-block-image .is-style-rounded img) { border-radius: 9999px }

:where(.wp-block-latest-comments:not([style*=line-height] .wp-block-latest-comments__comment)) { line-height: 1.1 }

:where(.wp-block-latest-comments:not([style*=line-height] .wp-block-latest-comments__comment-excerpt p)) { line-height: 1.8 }

:root :where(.wp-block-latest-posts.is-grid) { padding: 0 }

:root :where(.wp-block-latest-posts.wp-block-latest-posts__list) { padding-left: 0 }

ul { box-sizing: border-box }

:root :where(.wp-block-list.has-background) { padding: 1.25em 2.375em }

:where(.wp-block-navigation.has-background .wp-block-navigation-item a:not(.wp-element-button)),
:where(.wp-block-navigation.has-background .wp-block-navigation-submenu a:not(.wp-element-button)) { padding: .5em 1em }

:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-item a:not(.wp-element-button)),
:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-submenu a:not(.wp-element-button)),
:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-submenu button.wp-block-navigation-item__content),
:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-pages-list__item button.wp-block-navigation-item__content) { padding: .5em 1em }

:root :where(p.has-background) { padding: 1.25em 2.375em }

:where(p.has-text-color:not(.has-link-color)) a { color: inherit }

:where(.wp-block-post-comments-form) input:not([type=submit]),
:where(.wp-block-post-comments-form) textarea {
  border: 1px solid #949494;
  font-family: inherit;
  font-size: 1em
}

:where(.wp-block-post-comments-form) input:where(:not([type=submit]):not([type=checkbox])),
:where(.wp-block-post-comments-form) textarea { padding: calc(.667em + 2px) }

:where(.wp-block-post-excerpt) {
  box-sizing: border-box;
  margin-bottom: var(--wp--style--block-gap);
  margin-top: var(--wp--style--block-gap)
}

:where(.wp-block-preformatted.has-background) { padding: 1.25em 2.375em }

:where(.wp-block-search__button) {
  border: 1px solid #ccc;
  padding: 6px 10px
}

:where(.wp-block-search__input) {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-transform: inherit
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
  border: 1px solid #949494;
  box-sizing: border-box;
  padding: 4px
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) :where(.wp-block-search__button) { padding: 4px 8px }

.wp-block-separator {
  border: none;
  border-top: 2px solid
}

:root :where(.wp-block-separator.is-style-dots) {
  height: auto;
  line-height: 1;
  text-align: center
}

:root :where(.wp-block-separator.is-style-dots):before {
  color: currentColor;
  content: "···";
  font-family: serif;
  font-size: 1.5em;
  letter-spacing: 2em;
  padding-left: 2em
}

:root :where(.wp-block-site-logo.is-style-rounded) { border-radius: 9999px }

.wp-block-social-links {
  background: none;
  box-sizing: border-box;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: 0
}

.wp-block-social-links .wp-social-link a,
.wp-block-social-links .wp-social-link a:hover {
  border-bottom: 0;
  box-shadow: none;
  text-decoration: none
}

.wp-block-social-links .wp-social-link svg {
  height: 1em;
  width: 1em
}

.wp-block-social-links .wp-social-link span:not(.screen-reader-text) {
  font-size: .65em;
  margin-left: .5em;
  margin-right: .5em
}

.wp-block-social-links.has-huge-icon-size { font-size: 48px }

.wp-block-social-link {
  border-radius: 9999px;
  height: auto
}

@media not (prefers-reduced-motion) {
  .wp-block-social-link { transition: transform .1s ease }
}

.wp-block-social-link a {
  align-items: center;
  display: flex;
  line-height: 0
}

.wp-block-social-link:hover { transform: scale(1.1) }

.wp-block-social-links .wp-block-social-link.wp-social-link {
  display: inline-block;
  margin: 0;
  padding: 0
}

.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor,
.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor svg,
.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:active,
.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:hover,
.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:visited {
  color: currentColor;
  fill: currentColor
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link {
  background-color: #f0f0f0;
  color: #444
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-instagram {
  background-color: #f00075;
  color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-linkedin {
  background-color: #0d66c2;
  color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-spotify {
  background-color: #1bd760;
  color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-youtube {
  background-color: red;
  color: #fff
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link { background: none }

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link svg {
  height: 1.25em;
  width: 1.25em
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-instagram { color: #f00075 }
:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-linkedin { color: #0d66c2 }
:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-spotify { color: #1bd760 }
:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-youtube { color: red }
:root :where(.wp-block-social-links .wp-social-link a) { padding: .25em }
:root :where(.wp-block-social-links.is-style-logos-only .wp-social-link a) { padding: 0 }

:root :where(.wp-block-social-links.is-style-pill-shape .wp-social-link a) {
  padding-left: .6666666667em;
  padding-right: .6666666667em
}

:root :where(.wp-block-tag-cloud.is-style-outline) {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch
}

:root :where(.wp-block-tag-cloud.is-style-outline a) {
  border: 1px solid;
  font-size: unset !important;
  margin-right: 0;
  padding: 1ch 2ch;
  text-decoration: none !important
}

:root :where(.wp-block-table-of-contents) { box-sizing: border-box }

:where(.wp-block-term-description) {
  box-sizing: border-box;
  margin-bottom: var(--wp--style--block-gap);
  margin-top: var(--wp--style--block-gap)
}

:where(pre.wp-block-verse) { font-family: inherit }

@supports (position:sticky) {
  .wp-block-video [poster] { object-fit: cover }
}

.entry-content { counter-reset: footnotes }

:root {
  --wp--preset--font-size--normal: 16px;
  --wp--preset--font-size--huge: 42px
}

.screen-reader-text { word-wrap: normal !important }

.screen-reader-text:focus {
  background-color: #ddd;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000
}

html :where(.has-border-color) { border-style: solid }
html :where([style*=border-top-color]) { border-top-style: solid }
html :where([style*=border-right-color]) { border-right-style: solid }
html :where([style*=border-bottom-color]) { border-bottom-style: solid }
html :where([style*=border-left-color]) { border-left-style: solid }
html :where([style*=border-width]) { border-style: solid }
html :where([style*=border-top-width]) { border-top-style: solid }
html :where([style*=border-right-width]) { border-right-style: solid }
html :where([style*=border-bottom-width]) { border-bottom-style: solid }
html :where([style*=border-left-width]) { border-left-style: solid }

html :where(img[class*=wp-image-]) {
  height: auto;
  max-width: 100%
}

:where(figure) { margin: 0 0 1em }

:root {
  --wp--preset--color--black: #000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #fff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--color--contrast: var(--contrast);
  --wp--preset--color--contrast-2: var(--contrast-2);
  --wp--preset--color--contrast-3: var(--contrast-3);
  --wp--preset--color--base: var(--base);
  --wp--preset--color--base-2: var(--base-2);
  --wp--preset--color--base-3: var(--base-3);
  --wp--preset--color--accent: var(--accent);
  --wp--preset--color--unc-pink: var(--unc-pink);
  --wp--preset--color--unc-red: var(--unc-red);
  --wp--preset--color--unc-navy: var(--unc-navy);
  --wp--preset--color--unc-lt-blue: var(--unc-lt-blue);
  --wp--preset--color--unc-green: var(--unc-green);
  --wp--preset--color--unc-green-rollover: var(--unc-green-rollover);
  --wp--preset--color--unc-gold: var(--unc-gold);
  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, #9b51e0 100%);
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, #7adcb4 0%, #00d082 100%);
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, #cf2e2e 100%);
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, #eee 0%, #a9b8c3 100%);
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, #4aeadc 0%, #9778d1 20%, #cf2aba 40%, #ee2c82 60%, #fb6962 80%, #fef84c 100%);
  --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, #ffceec 0%, #9896f0 100%);
  --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, #fecda5 0%, #fe2d2d 50%, #6b003e 100%);
  --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, #ffcb70 0%, #c751c0 50%, #4158d0 100%);
  --wp--preset--gradient--pale-ocean: linear-gradient(135deg, #fff5cb 0%, #b6e3d4 50%, #33a7b5 100%);
  --wp--preset--gradient--electric-grass: linear-gradient(135deg, #caf880 0%, #71ce7e 100%);
  --wp--preset--gradient--midnight: linear-gradient(135deg, #020381 0%, #2874fc 100%);
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;
  --wp--preset--spacing--20: .44rem;
  --wp--preset--spacing--30: .67rem;
  --wp--preset--spacing--40: 1rem;
  --wp--preset--spacing--50: 1.5rem;
  --wp--preset--spacing--60: 2.25rem;
  --wp--preset--spacing--70: 3.38rem;
  --wp--preset--spacing--80: 5.06rem;
  --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, .2);
  --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, .4);
  --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, .2);
  --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
  --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1)
}

:where(.is-layout-flex) { gap: .5em }

:where(.is-layout-grid) { gap: .5em }

body .is-layout-flex { display: flex }

.is-layout-flex {
  flex-wrap: wrap;
  align-items: center
}

.is-layout-flex>:is(*, div) { margin: 0 }

:where(.wp-block-columns.is-layout-flex) { gap: 2em }
:where(.wp-block-columns.is-layout-grid) { gap: 2em }
:where(.wp-block-post-template.is-layout-flex) { gap: 1.25em }
:where(.wp-block-post-template.is-layout-grid) { gap: 1.25em }
:where(.wp-block-post-template.is-layout-flex) { gap: 1.25em }
:where(.wp-block-post-template.is-layout-grid) { gap: 1.25em }
:where(.wp-block-columns.is-layout-flex) { gap: 2em }
:where(.wp-block-columns.is-layout-grid) { gap: 2em }

:root :where(.wp-block-pullquote) {
  font-size: 1.5em;
  line-height: 1.6
}

body,
figure,
h1,
h2,
h3,
h4,
hr,
html,
iframe,
li,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

main { display: block }

html { box-sizing: border-box }

*,
::after,
::before { box-sizing: inherit }

:-moz-focusring { outline: 1px dotted ButtonText }

body,
input,
textarea {
  font-weight: 400;
  text-transform: none;
  font-size: 17px;
  line-height: 1.5
}

p { margin-bottom: 1.5em }

h1,
h2,
h3,
h4 { font-style: inherit }

hr {
  background-color: rgba(0, 0, 0, .1);
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px
}

h1 {
  line-height: 1.2em;
  text-transform: none
}

h2 {
  line-height: 1.2em;
  text-transform: none
}

h3 {
  line-height: 1.2em;
  text-transform: none
}

ul { margin: 0 0 1.5em 3em }

ul { list-style: disc }

li>ul {
  margin-bottom: 0;
  margin-left: 1.5em
}

strong { font-weight: 700 }

figure { margin: 0 }

img {
  height: auto;
  max-width: 100%
}

textarea {
  border-radius: 0;
  max-width: 100%
}

a { transition: color .1s ease-in-out, background-color .1s ease-in-out }

.using-mouse :focus { outline: 0 }

.size-large {
  max-width: 100%;
  height: auto
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: .875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000
}

.main-navigation {
  z-index: 100;
  padding: 0;
  clear: both;
  display: block
}

.main-navigation a {
  font-weight: 400;
  text-transform: none;
  font-size: 15px
}

.main-navigation ul {
  list-style: none;
  padding-left: 0
}

.inside-navigation { position: relative }

.main-navigation .inside-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between
}

.main-navigation ul ul {
  z-index: 99999;
  transition-delay: 0s
}

.main-navigation ul ul a { display: block }

.main-navigation:not(.toggled) ul li.sfHover>ul,
.main-navigation:not(.toggled) ul li:hover>ul {
  left: auto;
  opacity: 1;
  transition-delay: 150ms;
  pointer-events: auto;
  height: auto;
  overflow: visible
}

.main-navigation:not(.toggled) ul ul li.sfHover>ul,
.main-navigation:not(.toggled) ul ul li:hover>ul {
  left: 100%;
  top: 0
}

.site-header { position: relative }

.inside-header {
  display: flex;
  align-items: center
}

.entry-content:not(:first-child),
.entry-summary:not(:first-child),
.page-content:not(:first-child) { margin-top: 2em }

.site-content { word-wrap: break-word }

iframe { max-width: 100% }

.site-content { display: flex }

.grid-container {
  margin-left: auto;
  margin-right: auto
}

.one-container .site-main>:last-child,
.separate-containers .site-main>:last-child { margin-bottom: 0 }

.container.grid-container { width: auto }

@media (max-width:768px) {

  a,
  body,
  input,
  textarea { transition: all 0s ease-in-out }

  .inside-header {
    flex-direction: column;
    text-align: center
  }

  .site-content { flex-direction: column }

  .container .site-content .content-area { width: auto }

  #main {
    margin-left: 0;
    margin-right: 0
  }

  body:not(.no-sidebar) #main { margin-bottom: 0 }
}

body {
  background-color: var(--base-2);
  color: var(--contrast)
}

a { color: var(--accent) }

a { text-decoration: underline }

.main-navigation a { text-decoration: none }

a:hover,
a:focus,
a:active { color: var(--contrast) }

.grid-container { max-width: 2000px }

:root {
  --contrast: #151515;
  --contrast-2: #4d4d4d;
  --contrast-3: #707070;
  --base: #f1f1f1;
  --base-2: #f7f8f9;
  --base-3: #fff;
  --accent: #2b7bb1;
  --unc-pink: #d61b7a;
  --unc-red: #b70038;
  --unc-navy: #13294b;
  --unc-lt-blue: #4b9cd3;
  --unc-green: #c7da7d;
  --unc-green-rollover: #aec74d;
  --unc-gold: #fddd3f
}

:root .has-base-3-color { color: var(--base-3) }

h1,
h2,
h3,
h4 {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  letter-spacing: -.5px;
  margin-bottom: 1em
}

body,
textarea { font-family: Libre Baskerville, serif }

h1 {
  font-size: 40px;
  margin-bottom: 20px
}

@media (max-width:1024px) {
  h1 { font-size: 50px }
}

@media (max-width:768px) {
  h1 { font-size: 35px }
}

h2 { font-size: 30px }

@media (max-width:1024px) {
  h2 { font-size: 40px }
}

@media (max-width:768px) {
  h2 { font-size: 30px }
}

h3 { font-size: 22px }

@media (max-width:768px) {
  h3 { font-size: 28px }
}

h4 { font-size: 20px }

.site-header {
  background-color: var(--base-3);
  color: var(--contrast-2)
}

.main-navigation { background-color: var(--base-3) }

.main-navigation ul ul { background-color: var(--base) }

.one-container .container { background-color: var(--base-3) }

input[type="text"],
textarea {
  color: var(--contrast);
  background-color: var(--base-2);
  border-color: var(--base)
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  color: var(--contrast);
  background-color: var(--base-2);
  border-color: var(--contrast-3)
}

:root {
  --gp-search-modal-bg-color: var(--base-3);
  --gp-search-modal-text-color: var(--contrast);
  --gp-search-modal-overlay-bg-color: rgba(0, 0, 0, .2)
}

.inside-header { padding: 0px 40px 20px 40px }
.inside-header.grid-container { max-width: 2080px }
.one-container .site-content { padding: 0px }

.site-main>* { margin-bottom: 0px }

@media (max-width:768px) {
  .one-container .site-content { padding: 30px }

  .inside-header {
    padding-right: 30px;
    padding-left: 30px
  }
}

.site-content .content-area { width: 100% }

@media (max-width:768px) {
  .main-navigation ul { display: none }
}

.post-image:not(:first-child),
.page-content:not(:first-child),
.entry-content:not(:first-child),
.entry-summary:not(:first-child),
footer.entry-meta { margin-top: 0em }

@keyframes dtb-spinner {
  to { transform: rotate(1turn) }
}

.bg-blue { background-color: var(--accent) }

.bg-gray { background-color: var(--base-2) }

.bg-gray a { color: var(--unc-navy) }

.bg-navy { background-color: var(--unc-navy) }

.btn-primary {
  background-color: var(--unc-green);
  color: var(--unc-navy);
  display: inline-flex;
  font-family: Open Sans;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 15px 20px
}

.btn-primary:hover {
  background-color: #aec74d;
  color: var(--unc-navy)
}

.btn-secondary {
  background-color: var(--accent);
  color: var(--base-3);
  display: block;
  font-family: Open Sans;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 15px 20px
}

.btn-secondary:is(:hover, :focus) {
  color: var(--base-3);
  background-color: var(--unc-navy)
}

.contained {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--gb-container-width);
  width: 90%;
  padding: 3em
}

@media (max-width:1024px) {
  .contained { width: 100% }
}

@media (max-width:767px) {
  .contained {
    padding-left: 1em;
    padding-right: 1em
  }
}

.container-contained-small { padding: 20px 40px }

.container-padded { padding: 1em }

.container-padded-left-right {
  padding-left: 40px;
  padding-right: 40px
}

.margin-before-after {
  margin-bottom: 1em;
  margin-top: 1em
}

.rounded-corners-all {
  padding-bottom: 0px;
  padding-top: 0px;
  border-radius: 15px
}

.type-feed-date {
  color: var(--accent);
  font-family: open sans;
  font-weight: 700;
  margin-bottom: 0px;
  text-decoration: none;
  text-transform: uppercase
}

.type-white { color: var(--base-3) }

.type-white a:hover { text-decoration: none }

.type-white a:not(.gb-button) { color: var(--base-3) }

:root { --gb-container-width: 2000px }

:root { --sans-serif: "Open Sans", sans-serif }

.wp-social-link { border: 3px solid #4b9cd3 }

.yoast-breadcrumbs,
#breadcrumbs span {
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px
}

.spaced-list li { padding-bottom: 1em }

footer .is-content-justification-center { justify-content: center }

footer .gb-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-left: -40px
}

footer .gb-grid-column {
  box-sizing: border-box;
  padding-left: 40px;
  width: 33.3%
}

footer .gb-button { text-decoration: none }

.footer-column-left { text-align: left }

.footer-column-left p.gb-headline-text {
  font-size: 16px;
  margin-bottom: 10px
}

.footer-column-center { text-align: center }

.footer-column-center .gb-headline-text { margin-bottom: 2em }

.footer-column-right { text-align: right }

.footer-column-right .gb-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start
}

.footer-column-right figure { margin-bottom: 20px }

.footer-column-right img { vertical-align: middle }

@media (max-width:768px) {

  footer .footer-column-left,
  footer .footer-column-center,
  footer .footer-column-right {
    width: 100%;
    text-align: center
  }

  .footer-column-right .gb-container { align-items: center }
}

#page {
  padding-left: 0;
  padding-right: 0
}

.wp-container-core-columns-is-layout-9d6595d7 { flex-wrap: nowrap }

@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 500;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/libre-baskerville/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/libre-baskerville/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDA.woff2') format('woff2');
}
@font-face {
  font-display: auto;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  src: url('https://acap2.research.unc.edu/dcm_content/media/fonts/libre-baskerville/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY3KcA.woff2') format('woff2');
}

.sf-hidden { display: none !important }
